/* Goals
-h1 with a cool font
-each picture when in plain mode shows Brazil's map
- Have nice looking buttons
-background music (have no idea how to do that (go to saturday office hours)
-display a cool winning message

 */
/* Initial/basic look */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    position: relative;
}
.memory-game{
    width: 1200px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}
.card{
    width: 200px;
    height: 200px;
    position:relative;
    transform-style: preserve-3d;
    transition: transform.5s;
    margin: 5px;
    

}
.card.flip{
    transform: rotateY(180deg);
}

img {
    width: 200px;
    height: 200px;
}

.front, .back{
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front{
    transform: rotateY(180deg);
}

.restart,
.instructions{
    justify-content: center;
    align-items: center;
}