/* Goals
-h1 with a cool font
-each picture when in plain mode shows Brazil's map
- Have nice looking buttons
-background music (have no idea how to do that (go to saturday office hours)
-display a cool winning message

 */
/* Initial/basic look */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: blue;
}